.form-layout {
  border-radius: 15px;
  width: 500px;
}
body {
  background-color: #f4f6f9;
}

.form-control {
  border-radius: 0.5rem;
}

.card {
  border-radius: 0.75rem;
}

.btn {
  border-radius: 0.5rem;
}
